body.toda_la_pagina{
    margin: 0;
    padding: 0;
    background-color: #4c5257;
  }


  /* Header */


  header.navbar_header_sticky{
    position: sticky;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 10;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
  header.navbar_header_sticky.abajo{
    background: #6C757D;
    padding: 0.2%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  }
  @media (width <= 992px){
    .container-fluid .navbar-brand img{
      width: 120px;
      height: 120px;
    }
}

  nav.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.dropdown-menu li a.dropdown-item:hover {
    background-color: #555;
    width: 80%;
  }

  ul.navbar-nav li.nav_item a.nav-link:hover {
    color: #555; 
  }

  header.navbar_header_sticky nav.navbar .container-fluid .collapse ul li{
    list-style: none;
  }

  header.navbar_header_sticky nav.navbar .container-fluid .collapse ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}
  header.navbar_header_sticky.abajo .navbar-brand,
  header.navbar_header_sticky.abajo .navbar .container-fluid .collapse ul li a{
    color: #000;
  }





  /* Fin header */


/* Estilos Bienvenida texto y slider */

.bienvenidaCont{
  margin: 0 auto;
}

/* Fin Estilos slider de bienvenida */



/* Linea separadora */
.linea_separadora{
  width: 85%;
  height: 2px;
  background-color: #919191;
  margin: 60px auto;
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
}
/* Fin linea separadora */



/* Estilos de imagenes con boton dentro (comenzar, foro) */
.container_tarjetas {
    display: flex;
    justify-content: space-between;
    background-color: #4c5257;
}
.image-container {
  width: 32%;
  height: 400px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.image {
  cursor: pointer;
  filter: brightness(70%); 
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease-in-out;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  transform: translate(-50%, -50%) scale(0); 
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out; 
}

.image-container:hover .square {
  transform: translate(-50%, -50%) scale(1.5); 
}
.image-container:hover .image {
    filter: brightness(100%);
  }

.image:hover {
  filter: brightness(100%); 
}

.square a {
  color: #fff;
  text-decoration: none;
}

/* Fin estilos de imagenes con boton dentro (comenzar, foro) */




/* Estilos slider consejos*/
.slider{
  display: flex;
  transform: translateX(var(--slide-transform));
  -webkit-transform: translateX(var(--slide-transform));
  -moz-transform: translateX(var(--slide-transform));
  -ms-transform: translateX(var(--slide-transform));
  -o-transform: translateX(var(--slide-transform));
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.slider_container{
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.slider_container img{
  max-width: 85%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.slider__element{
  min-width: 100%;
  height: 300px;
  font-size: 1rem;
  text-align: center;
  line-height: 300px;
}



.slider__element p{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.slider__element img{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.slider-buttons {
  display: flex;
  position: absolute;
  top: 50%; /* Centra verticalmente los botones */
  width: 100%; /* Ocupa todo el ancho del contenedor del slider */
  height: 30%;
  text-align: center; /* Centra horizontalmente los botones */
  transform: translateY(-50%); /* Alinea verticalmente los botones al centro */

}

.button-slider {
  background: #4c5257;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin: 0 0;
  padding: 0;
}

.button-slider:hover {
  background-color: grey; /* Cambio de color de fondo en el hover (gris) */
}

/* Estilo para el botón izquierdo */
.button-slider .button--left {
  right: 0; /* Alinea el botón izquierdo a la izquierda */
}

/* Estilo para el botón derecho */
.button-slider .button--right {
  right: 0; /* Alinea el botón derecho a la derecha */
}


  /* Fin estilos slider consejos*/

  


 /* Estilos del footer */ 
footer {
  background-color: #4c5257;
    padding: 10px;
    text-align: center;
    color: #555;
}

 /* Fin estilos del footer */ 







 /* Modal de ayuda estilos */

 /* Estilos generales para el cuerpo de la página */
body.modalAyuda {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header.modalAyuda {
  background-color: #000;
  text-align: center;
  padding: 20px;
}

/* Estilos para la barra de navegación */
nav.modalAyuda ul.modalAyuda {
  list-style-type: none;
  padding: 0;
  background-color: black;
  text-align: center;
}

nav.modalAyuda ul.modalAyuda li {
  display: inline;
  margin: 0 10px;
}

nav.modalAyuda ul.modalAyuda li.modalAyuda a.modalAyuda {
  text-decoration: none;
}

/* Estilos para el contenido principal */
main.modalAyuda {
  padding: 20px;
}

/* Estilos para las secciones de preguntas frecuentes */
section.modalAyuda {
  background-color: var(--bs-black);
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

/* Estilos para títulos de secciones */


/* Estilos para listas ordenadas y no ordenadas */
ol.modalAyuda, ul.modalAyuda {
  padding-left: 20px;
}

/* Estilos para el pie de página */
footer.modalAyuda {
  background-color: #000;
  text-align: center;
  padding: 10px;
}

footer.modalAyuda a.modalAyuda {
  text-decoration: none;
}






/* Modal de contacto estilos */


.modal-body {
  box-sizing: border-box;
  background-color: var(--bs-gray-900);
}

body.modalContacto {
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1.5em;
  margin: 0; /* Evitar el espacio en blanco en los bordes del cuerpo */
}

.modalContacto.content {
  max-width: 1170px;
  margin: 0 auto; /* Centro el contenedor horizontalmente */
  padding: 1.5em;
}

ul.modalContacto {
  list-style: none;
  padding: 0;
}

.modalContacto.logo {
  text-align: center;
  font-size: 3em;
}

.modalContacto.logo span {
  color: #B70E21;
}

.modalContacto.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.modalContacto.contact-wrapper > * {
  padding: 1em;
}

.modalContacto.contact-form {
  padding: 1em; /* Añadir espacio entre el formulario y el contenedor */
}

.modalContacto.contact-form form.modalContacto {
  display: grid;
  grid-template-columns: 1fr; /* Cambiar a una sola columna en pantallas pequeñas */
}

.modalContacto.contact-form form.modalContacto label {
  display: block;
}

.modalContacto.contact-form form.modalContacto p {
  margin: 0;
  padding: 1em;
}

.modalContacto.contact-form form.modalContacto .block {
  grid-column: 1 / 2;
}

.modalContacto.contact-form form button,
.modalContacto.contact-form form input,
.modalContacto.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
  margin-bottom: 1em; /* Añadir espacio entre elementos del formulario */
}

.modalContacto.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.modalContacto.contact-form form button:hover,
.modalContacto.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */
.modalContacto.contact-info {
  background: #000;
}

.modalContacto.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* LARGE SIZE */
@media(min-width: 700px) {
  body.modalContacto {
      padding: 0 4em;
  }
  .modalContacto.container {
      padding: 2em; /* Aumentar el espacio interior del contenedor */
  }
  .modalContacto.contact-wrapper {
      grid-template-columns: 2fr 1fr;
  }
  .modalContacto.contact-wrapper > * {
      padding: 2em;
  }
  .modalContacto.contact-info h4,
  .modalContacto.contact-info ul,
  .modalContacto.contact-info p {
      text-align: left;
  }
}











/* modal registro */




.modalRegistrarse.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

/* Estilos para el contenedor principal */
.modalRegistrarse.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ancho del contenedor principal */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: black; 
}

/* Estilos para el formulario de registro */

.modalRegistrarse.form-container input[type="text"],
.modalRegistrarse.form-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5%;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}
/* Estilos para la imagen */
.modalRegistrarse.image-container {
width: 65%;

}

.modalRegistrarse.image-container img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  display: inline-block;
  border: 5px white;
 
}

/* modal registro final */
