body.toda_la_pagina{
    margin: 0;
    padding: 0;
    background-color: #474545;
  }


  /* Header */
header{

}
  /* Fin header */


/* Estilos Bienvenida texto y slider */
.bienvenidaCont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #474545;
  align-items: center;
}


.bienvenidaCont p {
  text-align: center;
  margin: 50px auto;
  width: 50%;
  font-size: 32px;
  font-weight: bold;
}

.sliderr{
  aspect-ratio: 7/4;
  width: 60%;
  position: relative;
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  margin: 0 auto;
}

.sliderr video{
  width: 100%;
  left: 0;
  position: sticky;
  object-fit: cover;
  scroll-snap-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sliderr video:hover {
  cursor: pointer; 
}

/* Fin Estilos slider de bienvenida */



/* Linea separadora */
.linea_separadora{
  width: 85%;
  height: 2px;
  background-color: #919191;
  margin: 60px auto;
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
}
/* Fin linea separadora */



/* Estilos de imagenes con boton dentro (comenzar, foro) */
.container_tarjetas {
    display: flex;
    justify-content: space-between;
    background-color: #474545;
}
.image-container {
  width: 32%;
  height: 600px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.image {
  cursor: pointer;
  filter: brightness(70%); 
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease-in-out;
}

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  transform: translate(-50%, -50%) scale(0); 
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out; 
}

.image-container:hover .square {
  transform: translate(-50%, -50%) scale(1.5); 
}
.image-container:hover .image {
    filter: brightness(100%);
  }

.image:hover {
  filter: brightness(100%); 
}

.square a {
  color: #fff;
  text-decoration: none;
}

/* Fin estilos de imagenes con boton dentro (comenzar, foro) */




/* Estilos slider consejos*/
.slider{
  display: flex;
  transform: translateX(var(--slide-transform));
  -webkit-transform: translateX(var(--slide-transform));
  -moz-transform: translateX(var(--slide-transform));
  -ms-transform: translateX(var(--slide-transform));
  -o-transform: translateX(var(--slide-transform));
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.slider_container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.slider_container img{
  max-width: 100%;
}

.slider__element{
  min-width: 100%;
  height: 300px;
  font-size: 1rem;
  text-align: center;
  line-height: 300px;
}

.slider__element--consejo1{
  background-color: red;
}
.slider__element--consejo2{
  background-color: blue;
}
.slider__element--consejo3{
  background-color: violet;
}

.slider__element p{
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.slider-buttons {
  position: absolute;
  top: 50%; /* Centra verticalmente los botones */
  width: 100%; /* Ocupa todo el ancho del contenedor del slider */
  text-align: center; /* Centra horizontalmente los botones */
  transform: translateY(-50%); /* Alinea verticalmente los botones al centro */

}

.button {
  display: inline-block;
  background-color: black; /* Color de fondo negro */
  color: white; /* Texto en blanco */
  padding: 20px 20px; /* Relleno para hacer que los botones sean más grandes */
  border: none; /* Sin bordes */
  font-size: 18px; /* Tamaño de fuente */
  cursor: pointer; /* Cursor de puntero al pasar el ratón */
  border-radius: 4px; /* Bordes redondeados */
  margin: 0 6px; /* Espacio horizontal entre los botones */
}

.button:hover {
  background-color: grey; /* Cambio de color de fondo en el hover (gris) */
}

/* Estilo para el botón izquierdo */
.button--left {
  position: absolute;
  left: 0; /* Alinea el botón izquierdo a la izquierda */
}

/* Estilo para el botón derecho */
.button--right {
  position: absolute;
  right: 0; /* Alinea el botón derecho a la derecha */
}


  /* Fin estilos slider consejos*/

  


 /* Estilos del footer */ 
footer {
  background-color: #474545;
    padding: 10px;
    text-align: center;
    color: #555;
}

 /* Fin estilos del footer */ 







 /* .button {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 20px 30px;
    font-size: 16px;
    margin-top: 10px;
    position: absolute; 
    bottom: 10%; /* Lo pone en el centro vertical */
     /*left: 50%; /* Lo pone en el centro horizontal */
     /*transform: translate(-50%, 50%); /* Pone el boton en el medio de su propio contenedor (sino queda en medio de la pagina) */
     /*transition: transform 0.5s ease-in-out;
} */