.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    
}

/* Estilos para el contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%; /* Ancho del contenedor principal */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: black; 
}

/* Estilos para el formulario de registro */
.form-container {
    margin: 0 auto;
    display: block;

}

.form-container h2 {
    text-align: center;
    color: white;
}

.form-container label {
    display: block;
    margin-bottom: 5%;
    font-weight: bold;
    color: white;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}

.form-container button[type="submit"] {
    background-color:white;
    color: #fff;
    padding: 5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    color: rgb(0, 0, 0);
}
/* Estilos para la imagen */
.image-container {
  width: 65%;

}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    display: inline-block;
    border: 5px white;
   
}
