* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #212529;
    color: #ddd;
}

/* Header fijo en la parte de arriba */
.header{
    position: fixed;
    top: 0;
    left: 0;
    background: #4C5257;
    color: #eee;
    width: 100%;
    padding: 15px 0;
    z-index: 100;  
    border-bottom: 1px solid #acacac; 
}

.header span, .header a {
    color: #eee;
    text-align: right;
    z-index: 100;  
}

.header a:hover {
    color:rgb(146, 189, 223);
}
/* Fin Header fijo en la parte de arriba */



/* Pantallas de los lados del foro */
.contenedor_pant{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 22%; 
    margin-right: 30%;
}
.pantalla_izq{
    background-color: #373e44;
    width: 22%;
    height: 100%;
    position: fixed;
    left: 0;
    border-right: 1px solid #acacac;
    z-index: 80;
}
.pantalla_der{
    background-color: #373e44;
    width: 30%;
    height: 100%;
    position: fixed;
    right: 0;
    border-left: 1px solid #acacac;
    z-index: 80;
}
.pantalla_izq a{
    left: 0;
    z-index: 80;
}
.pantalla_der a{
    right: 0;
    z-index: 80;
}
/* Fin Pantallas de los lados del foro */


/* Todas las publicaciones del foro  */
.foro {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background-color: #212529;
}
.foro .cont_publis {
}
.foro .publi_user p{
    left: 0;
}
.foro .cont_publis a {
    text-decoration: none;
}
.foro .publi {
    width: 80%;
    border-radius: 20px;
    margin: auto;
    background: #212529;
    padding: 8px;
    margin-bottom: 5px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.carousel-control-prev{
    font-size: 1rem; 
    width: auto; 
    padding: 0; 
    margin-left: 22%;
}
.carousel-control-next {
    font-size: 1rem; 
    width: auto; 
    padding: 0; 
    margin-right: 30%;
}
.tiempoTransc{
    margin-top: 8px;
}
.foro .publi:hover {
    background: rgb(146, 189, 223);
}
/* Fin Todas las publicaciones del foro  */



/* Color nro de respuestas */
p span.cant {
    color: red ;
}
/* / */
/* Btn redactar */
.btn_publicar{
    color:#eee;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
}
/* / */


/* Estilos para responder publicacion */
.foro .abierta {
    width: 95%;
    margin: auto;
    padding: 8px;
    margin-bottom: 5px;
    background:  rgb(143, 202, 192);
    color: #eee;
    margin-top: 80px;
}

.foro .publi_user p { 
    width: 100%;
    text-align: left; 
    font-size: 0.8em;
    font-weight: bold;
    color: #000;

}

.foro .publi_texto p{
    font-size: 1em;
    font-style: italic;
    color: #000;
}

.foro form {
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.foro form input[type=text]  {
    width: 70%;
    padding: 5px;
}
.foro form input[type=submit] {
    width: 27%;
    padding: 5px;
    background: steelblue;
    color: #eee;
}
/* Fin Estilos para responder publicacion */


#imagen_perfil_header{
    max-width: 50px;
    border: 1px solid white;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
