/* Estilos generales de la página */
body {
    background-color: #333; /* Fondo negro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos del formulario */
form {
    background-color: #444; /* Fondo gris oscuro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: #555; /* Fondo gris */
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #000; /* Fondo negro */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #111; /* Fondo negro más oscuro al pasar el cursor */
}
